.header-container {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.8rem;
  }
}
