/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

/* Estilo para o tema escuro */
body.dark-theme {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

body .header-container {
  background-color: hsl(0, 0%, 100%);
}

body.dark-theme .header-container {
  background-color: hsl(209, 23%, 22%);
}

body .elements {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

body.dark-theme .elements {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  @apply font-nunito; /* Aplica a fonte em tudo */
}
